



<!DOCTYPE>
<html lang="zh-cmn-Hans">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="description" content="天天问是产品经理互助问答社区，用户可以提出问题、解决问题、或者搜索其他用户沉淀的精彩内容；在这里可以感受到最热烈的互助气氛，浏览到最精彩的问答内容，获得对症下药的经验分享，最终提升自身产品能力。" />
    <meta name="keywords" content="产品经理问答，需求分析，产品经理，人人都是产品经理，竞品分析，prd，axure，产品文档，交互设计，用户体验，产品运营，数据分析，产品经理培训，产品经理课程，产品经理社区" />
    <link rel="Shortcut Icon" href="/assets/images/favicon.ico" type="image/x-icon" />


    <title>问题编辑-天天问-产品经理互助问答社区|人人都是产品经理</title>
    <link href="/assets/css/web.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/toast.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/assets/js/plugin/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/common/config.js?20190727"></script>
    <!-- <script type="text/javascript" src="/assets/js/common/header.js"></script>
     --><script type="text/javascript" src="/assets/js/common/common.js?20200320"></script>
    <script type="text/javascript" src="/assets/js/common/utils.js"></script>

    <script type="text/javascript">
        var toastData = JSON.parse('{"comment":"+5","delComment":-5,"questionGainComment":"+2","reply":"+2","delReply":-2,"gainReply":"+1","askQuestion":"+3","delQuestion":-3,"attentionQuestion":"+1","cancelAttentionQuestion":-1,"gainPraise":"+10","cancelPraise":-10,"praise":"+1","followUser":"+1","cacelFollowUser":-1,"gaimFollow":"+2","loseFollow":-2,"login":"+2"}');
    </script>
    <script type="text/javascript" src="/assets/js/web1.1/common/toast.js?20190924"></script>
    <script type="text/javascript" src="/assets/js/web1.1/common/follow.js?20190813"></script>
    <script type="text/javascript" src="/assets/js/web1.1/common/others.js?v20170609"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?bf649cbbe4756061009397f8b5634b2d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
        (function(){
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https'){
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else{
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();

        var _vds = _vds || [];
        window._vds = _vds                                                                                                                                                                                                                                                                                                                                                                                                  ;
        (function(){
            _vds.push(['setAccountId', 'b1ebdcd11aa5a99b']);
            (function() {
                var vds = document.createElement('script');
                vds.type='text/javascript';
                vds.async = true;
                vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(vds, s);
            })();
        })();
    </script>

    <script type="text/javascript" charset="utf-8" src="/assets/js/plugin/ueditor1.4.3/ueditor.config.js?20191106"></script>
    <script type="text/javascript" charset="utf-8" src="/assets/js/plugin/ueditor1.4.3/ueditor.all.js"> </script>
    <script type="text/javascript" charset="utf-8" src="/assets/js/plugin/ueditor1.4.3/lang/zh-cn/zh-cn.js"></script>

    <script type="text/javascript" src="/assets/js/question/publish.js?20190727"></script>
    <script type="text/javascript" src="/assets/js/plugin/jquery.form.min.js"></script>

</head>
<style>
    .foot.font12.mar_t38.six_font{
        background-color: #333640;
        color: #CCC;
        position: fixed;
        bottom: 0;
    }
</style>
<body style="background-color:#F7F9FA">

<!-- 顶部信息条  begin-->







<link rel='stylesheet' id='fa-css' href='/assets/css/font-awesome.min_1.1.10.css' type='text/css' media='screen' />
<link rel='stylesheet' id='misc-css' href='/assets/css/misc_1.1.10.css?122' type='text/css' media='screen' />
<link rel="stylesheet" type="text/css" href="/assets/css/web_v1.5.css?20190927">
<link rel="stylesheet" type="text/css" href="/assets/js/plugin/iconfont/iconfont.css?12">

<script>
    var SU = 1;
    var MSCCOUNTJS = 0;
    var ADS_SERVICE="https://ads.woshipm.com/";
</script>
<style>
    .metabar .content .item:hover {
        color: #5079b7;
        fill: #5079b7;
        background-color:inherit;
    }
    html,body{
        font-family: "Helvetica Neue", "Helvetica", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", "微软雅黑", "Arial", "sans-serif","Chinese Quote","-apple-system","BlinkMacSystemFont","Segoe UI","Roboto";
    }
    .surface-content.header-fix .metabar{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    .edui-box.edui-for-fullscreen.edui-default{
        display: none !important;
    }
</style>

<div class="surface-content header-fix">
    <div class="metabar metabar--shadow u-clearfix" style="z-index: 1000">
        <div class="container">
            <div class="old-wrap moveease">
                <div class="u-floatLeft">
                    <a href="/" class="logo-xmas">
                        <img class="logo" src="//image.woshipm.com/build/img/logo.png">
                    </a>
                </div>
                <div class="content u-floatLeft">
                    <nav class="header-nav">
                        <ul id="menu-%e9%a1%b6%e9%83%a8%e5%af%bc%e8%88%aa" class="subnav-ul layoutSingleColumn layoutSingleColumn--wide">
                            <li id="menu-item-155938" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-155938"><a href="http://www.woshipm.com/">首页</a></li>
                            <li id="menu-item-155939" class="third menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-155939"><a href="#">分类浏览</a><span class="fa fa-angle-down"></span>
                                <ul class="sub-menu">
                                    <li id="menu-item-155928" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-155928"><a href="http://www.woshipm.com/category/pmd">产品经理</a></li>
                                    <li id="menu-item-155929" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-155929"><a href="http://www.woshipm.com/category/pd">产品设计</a></li>
                                    <li id="menu-item-155927" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-155927"><a href="http://www.woshipm.com/category/ucd">交互体验</a></li>
                                    <li id="menu-item-155930" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-155930"><a href="http://www.woshipm.com/category/operate">产品运营</a></li>
                                    <li id="menu-item-155932" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-155932"><a href="http://www.woshipm.com/category/rp">原型设计</a></li>
                                    <li id="menu-item-191466" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-191466"><a href="http://www.woshipm.com/category/evaluating">分析评测</a></li>
                                    <li id="menu-item-155926" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-155926"><a href="http://www.woshipm.com/category/it">业界动态</a></li>
                                    <li id="menu-item-155936" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-155936"><a href="http://www.woshipm.com/category/zhichang">职场攻略</a></li>
                                    <li id="menu-item-184121" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-184121"><a href="http://www.woshipm.com/category/chuangye">创业学院</a></li>
                                    <li id="menu-item-1016325" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1016325"><a href="http://www.woshipm.com/category/marketing">营销推广</a></li>
                                    <li id="menu-item-906383" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-906383"><a href="http://www.woshipm.com/category/ai">AI人工智能</a></li>
                                    <li id="menu-item-906382" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-906382"><a href="http://www.woshipm.com/category/blockchain">区块链</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-155940" class="vip menu-item menu-item-type-custom menu-item-object-custom menu-item-155940"><a href="http://www.woshipm.com/course">热门课程</a></li>
                            <li id="menu-item-420537" class="niubi menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-420537"><a href="http://www.woshipm.com/categroy/active">活动讲座</a>
                            </li>
                            <li id="menu-item-279085" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-279085" style="color:#ff5500"><a href="https://wen.woshipm.com">天天问</a></li>
                            <li id="menu-item-395532" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-395532"><a target="_blank" href="http://996.pm/7b1Zr">年费会员</a></li>
                            <li id="menu-item-155941" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-155941">
                                <a target="_blank" href="http://www.zhaopins.com/">招聘</a>
                                <!-- <span class="fa fa-angle-down"> -->
                                </span>
                                <!--
                                <ul class="sub-menu">
                                    <li id="menu-item-1021335" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1021335"><a target="_blank" href="http://www.zhaopins.com/">免费招人</a></li>
                                    <li id="menu-item-1021337" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1021337"><a target="_blank" href="http://www.zhaopins.com/activity/20170114/2ent.html">付费招人</a></li>
                                    <li id="menu-item-1021339" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1021339"><a target="_blank" href="http://www.zhaopins.com/activity/20170114/2user.html">免费内推</a></li>
                                </ul>
                                -->
                            </li>
                            <li id="menu-item-500728" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-500728"><a href="#">百宝箱</a><span class="fa fa-angle-down"></span>
                                <ul class="sub-menu">
                                    <li id="menu-item-395530" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-395530"><a target="_blank" href="http://dh.woshipm.com">网址导航</a></li>
                                    <li id="menu-item-500731" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-500731"><a target="_blank" href="http://www.woshipm.com/books">必读书单</a></li>
                                    <li id="menu-item-590029" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-590029"><a target="_blank" href="http://www.woshipm.com/topics">知识体系</a></li>
                                    <li id="menu-item-501017" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-501017"><a target="_blank" href="http://www.yunyingpai.com">运营派</a></li>
                                    <li id="menu-item-500729" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-500729"><a target="_blank" href="http://www.woshipm.com/tools">必备工具</a></li>
                                    <li id="menu-item-852376" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-852376"><a target="_blank" href="http://www.woshipm.com/screen/index.html">设计规范</a></li>
                                    <li id="menu-item-1019313" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1019313"><a target="_blank" href="https://www.apptu.cn/">灵感图库</a></li>
                                    <li id="menu-item-1317021" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1317021"><a target="_blank" href="https://t.qidianla.com/">学员后花园</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="u-floatRight content">
                    <span class="item" onclick="go2Question()">
                        <i class="icon iconfont icon-nav_add"></i>
                        提问
                    </span>
                    <a class="item show-search" target="_blank" href="http://api.woshipm.com/search/list.html?key=&tab=2">
                        <i class="icon iconfont icon-header-search"></i>
                        搜索
                    </a>
                    <div class="item app-qrcode">
                        <i class="icon iconfont icon-header-app"></i>
                        APP
                        <div class="app-qrcode-dropdown"><img class="app-qrcode-img" src="https://static.qidianla.com/qidian_applypage_banner201812_20181224112647_3638.png"></div>
                    </div>
                    <span class="item" style="position:relative" onclick="go2Message()">
							<i class="icon iconfont icon-header-news"></i>

					</span>
                    <div class="user-avatar" >



                        <a href="/user/detail/g0k4qr.html"><img src="https://static.qidianla.com/woshipm_def_head_3.jpg" alt="" height="30" width="30" class="avatar"></a>
                        <div class="user-top-nav">
                            <ul>
                                <li><a href="/user/detail/g0k4qr.html">我的主页</a></li>
                                <li><a href="/user/setting.html">个人设置</a></li>
                                <li><a href="/user/help.html">帮助中心</a></li>
                                <li><a href="/question/detail/omkf.html">意见反馈</a></li>

                            </ul>
                            <div class="" style="height: 48px;line-height: 48px;">
                                <a href="http://passport.woshipm.com/user/exit.html?FS=WD&REDIRECT=aHR0cHM6Ly93ZW4ud29zaGlwbS5jb20vcXVlc3Rpb24vMmVkaXQuaHRtbA==&_protocol=http">退出登录</a>
                            </div>
                        </div>




                    </div>

                </div>
            </div>


        </div>
    </div>
</div>

<!-- 顶部信息条  end-->
<div style="height: 60px"></div>




<!-- 顶部信息条  end-->

<div class="main_box main_box_a">
    <form method="post" action="" id="publishForm">
        <input name="qid" type="hidden" class="tit_input" value=""/>
        <textarea rows="" cols="" name="content" id="contentDiv" style="display: none"></textarea>
        <textarea rows="" cols="" name="textContent" id="textContentDiv" style="display: none"></textarea>
        <div class="tiwen_box mar_t38">
            <p class="tt-img">
                <img src="https://static.woshipm.com/2019030610190124056titlw.png" alt="" style="width:396px;">
            </p>
            <div class="tiwen_main mar_t20">

                <p class="ti">
                    <big><strong>问题标题</strong></big>
                    <font class="font12 jiu_font mar_l10">最多60字</font>
                </p>
                <div class="mar_t10 ts">
                    <input name="title" id="titleId" type="text" autocomplete="off"  class="tit_input" placeholder="简要准确描述你的问题" value="" maxlength="60" />

                </div>
                <p class="hui_font mar_t10 ti">
                    <big><strong>描述</strong></big>
                    <font class="font12 jiu_font mar_l10">最多500字</font>
                </p>

                <div class="width100 mar_t10 da">
                    <!--style给定宽度可以影响编辑器的最终宽度-->
                    <textarea type="text/plain" id="myEditor" style="z-index: 1"></textarea>
                </div>
                <div class="width100 et">
                    <span class="el"><img src="https://static.woshipm.com/2019030716155836431tips.png" style="margin-right: 8px;transform: translateY(-2px);;"> 悬赏提问需使用App发布 </span>
                    <span class="rc">
                            <font id="errorTips"></font>
                            <input type="button" class="sz_button float_r " id="publishButton" value="发布" />
                        </span>
                </div>
            </div>
        </div>
    </form>
    <form action="" id="successForm" method="get"></form>

    <div stlye="height: 28px;">&nbsp;</div>
</div>
<!--底部 beign-->





<style>
    ._rightfixed div:hover{
        background-color: rgba(0, 0, 0, 0.3);
    }
</style>
<div class="_rightfixed">
    <div class="aa"><img src="https://static.woshipm.com/pmapp_1553850055072_6091.jpg" style="width:35px;"></div>
    <figure id="vv">
        <img src="https://vip.qidianla.com/api/qrCode.html?url=https://wen.woshipm.com/question/2edit.html" style="width:120px;height:120px;">
        <p>微信扫码即可分享</p>
    </figure>
</div>
<div class="_rightfixed" id="backTop" style="display: none">
    <div><i class="icon iconfont icon-more"></i></div>
</div>

<div class="tips-text" style="display:none" id="toast" onclick="$('#toast').hide();">
    <div class="ok">
        <i class="icon iconfont icon-hot" style="margin-right:10px"></i><span id="toastContent"></span>
    </div>

</div>

<!-- 删除弹窗 -->
<div class="pop-mask delet-mask" id="confirmModal">
    <div class="pop-content">
        <h3>确认删除<span id="deleteTypeText"></span>？</h3>
        <p>删除后将不会展示在回答列表中</p>
        <div>
            <button onclick="$('.delet-mask').hide()" style="background-color:#F2F2F2;color:#406080;margin-right: 20px;">取消</button>
            <button style="background-color:#406080;color:white;border:none" id="deleteType">确认</button>
        </div>
    </div>
</div>


<div class="pop-mask delet-mask" id="deleteCommentModal">
    <div class="pop-content">
        <h3>你所查看的回答已被删除</h3>
        <div>
            <button onclick="$('.delet-mask').hide()" style="background-color:#406080;color:white;border:none" >知道了</button>
        </div>
    </div>
</div>

<div class="pop-mask delet-mask" id="deleteReplayModal">
    <div class="pop-content">
        <h3>你所查看的回复已被删除</h3>
        <div>
            <button onclick="$('.delet-mask').hide()" style="background-color:#406080;color:white;border:none" >知道了</button>
        </div>
    </div>
</div>



<div class="foot font12 mar_t38 six_font" style="z-index: 20;background-color: #333640;color: #CCCCCC">
    ©2015-2020 - 深圳聚力创想信息科技有限公司 - <a href="http://www.beian.miit.gov.cn" target="_blank">粤ICP备14037330号-1</a> - <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030502001309" target="_blank">粤公网安备 44030502001309号</a>



    <div class="top_black_body" style="display: none">
        <div class="top_big_fc_box  top_po_rela">
            <a href="javascript:closeTopLogin();" class="top_tc_close"></a>
            <iframe id="top_login_frame" src="https://passport.woshipm.com/user/2popLogin.html?FS=WD&REDIRECT=aHR0cHM6Ly93ZW4ud29zaGlwbS5jb20vcXVlc3Rpb24vMmVkaXQuaHRtbA==" scrolling="no" class="top_fc_box"></iframe>
        </div>
    </div>
    <link href="/assets/js/plugin/fancyBox/jquery.fancybox.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/assets/js/plugin/fancyBox/jquery.fancybox.pack.js"></script>
    <script>
        //全局绑定图片放大
        function findImgBig(s){
            $(s).find("img").each(function(index,item){
                var src = $(this).attr("src");
                if (src.lastIndexOf("img.baidu.com") == -1 && src.lastIndexOf("emotion/images") == -1) {
                    $(this).wrap("<a class='fancybox zoom-in-img' href='"+this.src+"'>");
                }
            });
            if($(".fancybox").length>0){
                $(".fancybox").fancybox({
                    autoResize: true,//如果设为 true，这浏览器改变大小后，fancyBox 亦将自动改变大小。
                    fitToView: false,//使用原图大小
                    autoSize: false,
                    margin: 20,
                    padding: 0,//内边距
                    titleShow : false,//是否显示标题
                    openEffect : 'elastic',
                    openSpeed  : 150,
                    closeEffect : 'elastic',
                    closeSpeed  : 150,
                    closeClick : true,//点击大图关闭
                    helpers : {
                        overlay: {
                            locked: false
                        }
                    }
                });
            }
        }

        $(".wenda").find(".wt-desc").each(function (i,item) {
            /*console.log($(item).html())
            console.log(ReplaceUrl($(item).html()));*/
        })
        function ReplaceUrl(text){
            var re = '(https?|ftp|file)://[-A-Za-z0-9+&@#/%?=~_|!:,.;]+[-A-Za-z0-9+&@#/%=~_|]';
            var sdsd=new RegExp(re);

            /*var s = text.replace(sdsd,function(a){
                return '<a href="'+a+'" target=_blank>'+a+'</a>';
            });*/
            var s = text.replace(sdsd,"123");
            return s;
        }
    </script>
    <!--底部 end-->

    <script>
        UE.plugin.register('autosubmit',function(){
            return {
                shortcutkey:{
                    "autosubmit":"" //重写手动提交
                }
            }
        });
        $("#myEditor").val($("#contentDiv").val());
        //实例化编辑器
        ue = UE.getEditor('myEditor',{
            initialFrameWidth:800,//宽度
            initialFrameHeight:254,//高度
            autoHeightEnabled:false,
            zIndex:1,
            onready:function(){
                this.on('showmessage', function(type, m){
                    if (m['content'] == '本地保存成功') {
                        return true;
                    }
                });
                //当输入框内容改变时,清空错误信息
                this.on("contentChange",function(){
                    $("#errorTips").html("");
                });
            }
        });
    </script>
</body>
</html>
